.addCourse {
    background-color: rgba(15, 1, 122);
    color: white;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 5px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    overflow: hidden;
    transition: 1s;
}

.addCourse:hover {
    background-color: darkblue;
    color: transparent;
    transition: 1s;
    width: 800px;
}

.addCourse::after {
    content: '+';
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.addCourse:hover::after {
    opacity: 1;
}

.addCourse-header {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.popAdd {
    display: none;
}

.popAddinner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popAddinner h2 {
    text-align: center;
}

.popAdd input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: rgba(15, 1, 122);
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: darkblue;
}
