

.Curriculum-container{
    height: fit-content;
    width: 100%;
    margin-left: 130px;
    background-color: white;
}

.Curriculum-first-row{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.row1{
    height:30vh;
    width: 24%;
    margin: 20px 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row2{
    height: 30vh;
    width: 24%;
    margin: 20px 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row3{
    height: 30vh;
    width: 24%;
    margin: 20px 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-fit{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Curriculum-first-row-title{
    display: flex;
    justify-content: center;
}
.row1-title{
    height: 23vh;
    width: 24%;
    margin: -10px 10px 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.row2-title{
    height: 23vh;
    width: 24%;
    margin: -10px 10px 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.row3-title{
    height: 23vh;
    width: 24%;
    margin: -10px 10px 10px;
    background-color:white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* second row */
.row4,.row5,.row6{
    height:30vh;
    width: 24%;
    margin: 20px 10px 10px;
    background-color: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.row4-title,.row5-title,.row6-title{
    height: 23vh;
    width: 24%;
    margin: -10px 10px 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Curriculum-second-row{
    display: flex;
    justify-content: center;
}

.Curriculum-second-row-title{
    display: flex;
    justify-content: center;
}

/* third row */
.row7,.row8,.row9{
    height:30vh;
    width: 24%;
    margin: 20px 10px 10px;
    background-color: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.row7-title,.row8-title,.row9-title{
    height: 23vh;
    width: 24%;
    margin: -10px 10px 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Curriculum-third-row{
    display: flex;
    justify-content: center;
}

.Curriculum-third-row-title{
    display: flex;
    justify-content: center;
}

h3{
    color: #0f017a;
    padding: 10px 20px;
}
p{
    color: #0f017a;
    font-size: 12px;
    margin-top: 10px;
    padding: 0px 10px;
}

.curriculum-title{
	display: flex;
    margin-top: 30px;
	align-items: center;
	width: 75%;
	height: 55px;
    margin-left: 160px;
    margin-right: 30px;
	background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0 1rem;

    p{
    	margin-left: 70%;
    	font-size: 12px;
	}
}

@media only screen and (max-width:768px){
.Curriculum-first-row{
    display: flex;
    flex-direction: column;
}

}