.Curriculum-container {
    width: 100%;
    margin-left: 130px;
    background-color: white;
    height: fit-content;
}

.curriculum-grid {
    width: 100%;
    padding-bottom: 3rem;
}

.Curriculum-first-row,
.Curriculum-second-row,
.Curriculum-third-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.row1, .row2, .row3,
.row4, .row5, .row6,
.row7, .row8, .row9 {
    height: 53vh;
    width: 30%;
    margin: 20px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-container {
    height: 30vh;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-fit, img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row1-title, .row2-title, .row3-title,
.row4-title, .row5-title, .row6-title,
.row7-title, .row8-title, .row9-title {
    height: 23vh;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
}

.row1-title h3, .row2-title h3, .row3-title h3,
.row4-title h3, .row5-title h3, .row6-title h3,
.row7-title h3, .row8-title h3, .row9-title h3 {
    color: #0f017a;
    margin-bottom: 10px;
}

p {
    color: #0f017a;
    font-size: 12px;
    margin-top: 10px;
    padding: 0 10px;
}

.curriculum-title {
    display: flex;
    align-items: center;
    width: 75%;
    height: 55px;
    margin: 30px 30px 0 160px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0 1rem;
}

.curriculum-title p {
    margin-left: auto;
    font-size: 12px;
}


@media only screen and (max-width: 1024px),
only screen and (max-width: 768px) {
    .Curriculum-first-row,
    .Curriculum-second-row,
    .Curriculum-third-row {
        flex-direction: column;
        align-items: center;
    }

    .row1, .row2, .row3,
    .row4, .row5, .row6,
    .row7, .row8, .row9 {
        width: 90%;
        margin: 10px auto 20px;
    }

    .row1-title, .row2-title, .row3-title,
    .row4-title, .row5-title, .row6-title,
    .row7-title, .row8-title, .row9-title {
        height: auto;
        padding-bottom: 1rem;
    }

    p {
        font-size: 14px;
    }

    .curriculum-title {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        width: 90%;
        margin: 30px auto 0 auto;
    }

    .curriculum-title p {
        margin-left: 0;
        margin-top: 10px;
        text-align: right;
        width: 100%;
    }
}
