.home-content{
	width: 100%;
	min-height: 100vh;
	display: flex;
}
.top-content{
	width: 80%;
}

.logo {
	top: 0;
	left: 0;
	position: absolute;
	height: 66px;
	width: 20%;



	img{
		width: 100px;
		margin-left: 90px;
	}
}


.sidebar {
	padding: 20px;
	width: 20%;
	min-height: 100vh;
	border-right: 1px solid rgba(15, 1, 122);
	margin-top: 65px;
}

.sidebar-section {
	margin-bottom: 20px;
}

.sidebar-heading {
	font-size: 1.1em;
	color: rgba(15, 1, 122);
	padding: 10px 15px;
	margin: 0;
	border-left: 4px solid #007bff;
	background-color: #e7ebf9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	position: relative;
	transition: background-color 0.3s ease;
	top: 0;
}

.sidebar-heading::after {
	content: "▼";
	font-size: 0.8em;
	color: rgba(15, 1, 122);
	margin-left: 10px;
	transition: transform 0.3s ease;
}

.sidebar-heading.open::after {
	transform: rotate(-180deg);
}

.dropdown-list {
	max-height: 0;
	overflow: hidden;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	transition: max-height 0.3s ease;
}

.dropdown-list.open {
	max-height: 500px;
	margin-top: 5px;
}

.dropdown-list li a {
	display: block;
	padding: 10px 20px;
	font-size: 0.95em;
	color: rgba(15, 1, 122);
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.2s ease;
}

.dropdown-list li a:hover {
	background-color: rgba(15, 1, 122, 0.1);
}

