.email-wrapper {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 75%;
    margin-left: 360px;
  margin-top:90px;

  
}


.email-header h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.input-field,
.text-area {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.send-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.send-btn:hover {
  background-color: #0056b3;
}